{% extends "base.html" %}
{% block content %}
{% load static %}

<link rel="preconnect" href="https://fonts.gstatic.com" />
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet" />
<link rel="stylesheet" href="{% static 'login2.css' %}" />

<div class="login-container">
  <div class="login-header">
    <img src="{% static 'img/inicio s.png' %}" alt="Icono login" class="login-icon">
    <h2>Iniciar Sesión</h2>
    <p>Accede a tu cuenta para gestionar tus horas lúdicas.</p>
  </div>

  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="login-btn">Entrar</button>
  </form>

  <div class="extra-links">
    <p>¿No tienes cuenta? <a href="{% url 'register' %}">Regístrate aquí</a></p>
  </div>
</div>
{% endblock %}
