{% extends "base.html" %}
{% block content %}
{% load static %}
<link rel="preconnect" href="https://fonts.gstatic.com" />
<link
  href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap"
  rel="stylesheet"
/>
<link rel="stylesheet" href="{% static '/login.css' %}" />

<div class="login-container">
  <h2>Iniciar sesión</h2>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="login-btn">Entrar</button>
  </form>
</div>
{% endblock %}
