{% extends "base.html" %}
{% block content %}
{% load static %}

<link rel="preconnect" href="https://fonts.gstatic.com" />
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet" />
<link rel="stylesheet" href="{% static 'register.css' %}">

<div class="register-container">
  <div class="register-header">
    <img src="{% static 'img/registro.png' %}" alt="Icono registro" class="register-icon">
    <h2>Registro de Usuario</h2>
    <p>Crea tu cuenta para comenzar a gestionar tus horas lúdicas.</p>
  </div>

  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Registrarse</button>
  </form>

  <div class="extra-links">
    <p>¿Ya tienes una cuenta? <a href="{% url 'login' %}">Inicia sesión aquí</a></p>
  </div>
</div>
{% endblock %}
