/* Estilo general */
body {
  background-color: #f4f4f4;
  font-family: Arial, sans-serif;
  color: #333;
  margin: 0;
  padding: 0;
}

/* Contenedor principal */
.dashboard-container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 30px 20px;
  box-sizing: border-box;
}

/* Títulos */
h2, h3 {
  text-align: center;
  color: #045d1f;
  margin-bottom: 20px;
}

/* Mensaje de ranking */
.ranking-message {
  background-color: #e6ffe6;
  border-left: 6px solid #28a745;
  color: #333;
  padding: 15px;
  border-radius: 8px;
  font-weight: bold;
  margin-bottom: 20px;
}

/* Contenedor de tablas */
.tables-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 30px;
}

/* Estilo de cada tabla */
.hours-table-container,
.ranking-table-container {
  flex: 1 1 45%;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.05);
  min-width: 300px;
}

/* Tablas */
table {
  width: 100%;
  border-collapse: collapse;
  font-size: 15px;
}

th, td {
  padding: 12px;
  border: 1px solid #ddd;
  text-align: left;
}

th {
  background-color: #f0f0f0;
  color: #333;
}

td {
  background-color: #fafafa;
}

/* Responsive */
@media (max-width: 768px) {
  .tables-container {
    flex-direction: column;
    align-items: center;
  }

  .hours-table-container,
  .ranking-table-container {
    width: 100%;
    max-width: 600px;
  }
}



#mensaje-alerta-superior {
  position: relative;
  width: 100%;
  padding: 10px 20px;
  background-color: #fce4e4;
  color: #b71c1c;
  font-weight: bold;
  border: 1px solid #f44336;
  border-radius: 4px;
  text-align: center;
  margin-bottom: 15px;
}

.btn-certificado {
  display: inline-block;
  background-color: #28a745; /* Verde */
  color: #fff;
  padding: 10px 20px;
  text-decoration: none;
  font-weight: bold;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  margin-top: 20px;
}

.btn-certificado:hover {
  background-color: #218838; /* Verde más oscuro al pasar el mouse */
}
