<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Registrar Horas Lúdicas</h1>
<form method="post">
    {% csrf_token %}
    <label for="actividad">Actividad:</label>
    <input type="text" id="actividad" name="actividad" required><br>
    <label for="fecha">Fecha:</label>
    <input type="date" id="fecha" name="fecha" required><br>
    <label for="horas_otorgadas">Horas Otorgadas:</label>
    <input type="number" id="horas_otorgadas" name="horas_otorgadas" required><br>
    <button type="submit">Registrar</button>
</form>
</body>
</html>