<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% extends 'horas/dashboard_base.html' %}
{% block content %}
    <h1>Bienvenido, {{ user.username }}</h1>
    <h2>Tus Horas Lúdicas</h2>
    <ul>
        {% for hora in horas %}
            <li>{{ hora.actividad }} - {{ hora.horas_otorgadas }} horas</li>
        {% endfor %}
    </ul>
{% endblock %}
</body>
</html>