<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% extends 'horas/dashboard_base.html' %}
{% block content %}
    <h1>Panel del Administrador</h1>
    <h2>Gestión de Horas</h2>
    <ul>
        {% for hora in horas %}
            <li>{{ hora.actividad }} - {{ hora.aprendiz.username }} ({{ hora.horas_otorgadas }} horas)</li>
        {% endfor %}
    </ul>
    <h2>Gestión de Usuarios</h2>
    <ul>
        {% for usuario in usuarios %}
            <li>{{ usuario.username }} - {{ usuario.groups.all|join:", " }}</li>
        {% endfor %}
    </ul>
{% endblock %}
</body>
</html>