{% extends "base.html" %}
{% load static %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'editar_perfil.css' %}">
{% endblock %}

{% block content %}
<div class="perfil-container">
  <h2>Editar Perfil</h2>
  <p class="descripcion">
    Modifica tus datos personales y haz clic en <strong>“Guardar cambios”</strong> para actualizar tu información.
  </p>

  <form method="post">
    {% csrf_token %}
    
    {{ user_form.non_field_errors }}
    <fieldset>
      <legend>Datos de Usuario</legend>
      {{ user_form.as_p }}
    </fieldset>

    {{ profile_form.non_field_errors }}
    <fieldset>
      <legend>Datos de Perfil</legend>
      {{ profile_form.as_p }}
    </fieldset>

    {{ pass_form.non_field_errors }}
    <fieldset>
      <legend>Confirma tu contraseña</legend>
      <p class="field">
        {{ pass_form.current_password.label_tag }}<br>
        {{ pass_form.current_password }}<br>
        {{ pass_form.current_password.errors }}
      </p>
    </fieldset>

    <div class="acciones-formulario">
      <button type="submit" class="btn-submit">Guardar cambios</button>
      <a href="{% url 'ver_perfil' %}" class="btn-cancelar">Cancelar</a>
    </div>
  </form>
</div>
{% endblock %}
