{% extends "base.html" %}
{% load static %}
<link rel="stylesheet" href="{% static 'horas/ver_perfil.css' %}">

{% block content %}
<div class="perfil-detalle">
    <h2>Mi Perfil</h2>
    <p><strong>Usuario:</strong> {{ user.username }}</p>
    <p><strong>Nombres:</strong> {{ user.first_name }} {{ user.last_name }}</p>
    <p><strong>Email:</strong> {{ user.email }}</p>
    <p><strong>Número de documento:</strong> {{ user.profile.document_number }}</p>
    <p><strong>Número de teléfono:</strong> {{ user.profile.phone_number }}</p>
</div>
{% endblock %}
