{% extends "base.html" %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'ver_perfil.css' %}">

<div class="perfil-detalle">
    <!-- Imagen de perfil -->
    <div class="perfil-img">
        <img src="{% static 'img/perfil.png' %}" alt="Foto de perfil">
    </div>

    <!-- Nombre del usuario -->
    <h2>{{ user.first_name }} {{ user.last_name }}</h2>
    <p class="perfil-rol">@{{ user.username }} | Usuario registrado</p>

    <!-- Tabla con detalles -->
    <div class="tabla-perfil-container">
        <table class="tabla-perfil">
            <tr>
                <th>Campo</th>
                <th>Información</th>
            </tr>
            <tr>
                <td>Correo electrónico</td>
                <td>{{ user.email }}</td>
            </tr>
            <tr>
                <td>Documento</td>
                <td>{{ user.profile.document_number }}</td>
            </tr>
            <tr>
                <td>Teléfono</td>
                <td>{{ user.profile.phone_number }}</td>
            </tr>
            <tr>
                <td>Fecha de registro</td>
                <td>{{ user.date_joined|date:"d/m/Y" }}</td>
            </tr>
        </table>
    </div>

</div>
{% endblock %}
