{% extends "base.html" %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'ver_perfil.css' %}">

<div class="perfil-detalle">
    <h2>Mi Perfil</h2>
    <div class="tabla-perfil-container">
        <table class="tabla-perfil">
            <tr>
                <th>Campo</th>
                <th>Valor</th>
            </tr>
            <tr>
                <td>Usuario</td>
                <td>{{ user.username }}</td>
            </tr>
            <tr>
                <td>Nombres</td>
                <td>{{ user.first_name }} {{ user.last_name }}</td>
            </tr>
            <tr>
                <td>Email</td>
                <td>{{ user.email }}</td>
            </tr>
            <tr>
                <td>Número de documento</td>
                <td>{{ user.profile.document_number }}</td>
            </tr>
            <tr>
                <td>Número de teléfono</td>
                <td>{{ user.profile.phone_number }}</td>
            </tr>
        </table>
    </div>
</div>
{% endblock %}
