<!-- templates/home.html -->

{% extends "base.html" %}

{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static '/home.css' %}">
<div class="container mt-5 text-center">
    {% if user.is_authenticated %}
      <h1 class="display-4 text-success">Bienvenido {{ user.username }}</h1>
      <p class="lead">Esta es la página de inicio de LEYLUDICA.</p>
    {% else %}
      <h1 class="display-4 text-success">Bienvenido, Invitado</h1>
      <p class="lead">Accede para ver tu información y gestionar tus horas lúdicas.</p>
      <div class="d-flex justify-content-center gap-3">
        <a href="{% url 'login' %}" class="btn btn-success btn-lg">Iniciar sesión</a>
        <a href="{% url 'register' %}" class="btn btn-outline-success btn-lg">Registrarse</a>
      </div>
    {% endif %}
</div>
{% endblock %}
