{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Registro de Asistencia</title>
    <link rel="stylesheet" href="{% static 'registro_asistencia.css' %}">
</head>
<body>
    <h2>Formulario de Registro de Asistencia</h2>

    <!-- Mostrar errores generales del formulario -->
    {% if form.non_field_errors %}
  
    {% endif %}

    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Registrar</button>
    </form>
</body>
</html>